name: Run Repository PowerShell Script
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
      - name: Install Scoop
        shell: powershell
        run: |
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser 
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
          .\bin\checkver.ps1 * -u
  
